@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    Hello!<br>To manage configurations please click the button below.<br>
    <a class="btn btn-primary mt-4" asp-controller="ConfigurationManagement" asp-action="Index">Configuration Management</a>
</div>
